<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Product</title>
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <h1>Add Product</h1>
    <form method="POST" enctype="multipart/form-data">
      <label for="name">Product Name:</label><br />
      <input type="text" id="name" name="name" required /><br /><br />
      <label for="price">Price:</label><br />
      <input type="number" id="price" name="price" required /><br /><br />
      <label for="quantity">Quantity:</label><br />
      <input type="number" id="quantity" name="quantity" required /><br /><br />
      <label for="image">Image:</label><br />
      <input
        type="file"
        id="image"
        name="image"
        accept="image/*"
        required
      /><br /><br />
      <input type="submit" value="Add Product" />
    </form>
  </body>
</html>
