<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="../static/styles/logform.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <form action="{{ url_for('register') }}" method="post">
        <h1>Registration</h1>
        {{ form.hidden_tag() }}
        <div class="input-box">
          {{ form.username.label }} {{ form.username() }}
          <i class="bx bx-user"></i>
        </div>
        <div class="input-box">
          {{ form.email.label }} {{ form.email() }}
          <i class="bx bx-envelope"></i>
        </div>
        <div class="input-box">
          {{ form.password.label }} {{ form.password() }}
          <i class="bx bx-lock-open"></i>
        </div>
        <div class="input-box">
          {{ form.confirm_password.label }} {{ form.confirm_password() }}
          <i class="bx bx-lock-open"></i>
        </div>
        <button type="submit" class="btn">Зарегистрироваться</button>
        <div class="register-link">
          <p>Уже есть аккаунт?<a href="{{ url_for('login') }}">Войти</a></p>
        </div>
      </form>
    </div>
  </body>
</html>
